@using CSMQuestionPoll.Web.Infrastructure.Data.Models;
@model CSMQuestionPoll.Web.ViewModels.Users.IndexViewModel;
@{

    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}


<div class="container">
    <h2>Home</h2>
    
    <p>Welcome to College Of Subic Montessori - Bataan Campus <br />
    Website. Enjoy!
    </p>
   
