@{
    @using CSMQuestionPoll.Web.Infrastructure.Data.Models;
    @model CSMQuestionPoll.Web.ViewModels.Users.IndexViewModel;
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h2>Users</h2>
    <p>Here is a paged list of all the users</p>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email Address</th>
                <th>Gender</th>
                <th>Login Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users.Items)
                {
            <tr>
                <td>@user.FullName</td>
                <td>@user.EmailAddress</td>
                <td>@user.Gender</td>
                <td> @user.LoginStatus</td>
                <td>
                    <a href="#" onclick="confirmResetPassword()" title="Reset Password"><button type="button" class="btn"><i class="fas fa-key"></i></button></a>
                    <a href="~/home/update-profile?userId=@user.Id" title="Update Profile"><button type="button" class="btn"><i class="fas fa-pen-square"></i></button></a>
                    <a href="#" onclick="confirmActivateAccount()" title="Activate Account"><button type="button" class="btn"><i class="fas fa-unlock-alt"></i></button></a>
                    <a href="#" onclick="confirmDeleteUser()" title="Delete User"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                </td>

            </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
            </tr>
        </tfoot>
     </table>
</div>
